@model IEnumerable<EkinKececiBlogSite.Models.Model.Proje>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Projeler</h2>
<a class="btn btn-default" href="/Proje/Create/">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Resim URL</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjeId</td>
                <td>@item.Baslik</td>
                <td>@Html.Raw(item.Aciklama)</td>
                <td><img width="100" height="100" src="@item.ResimURL" /></td>
                <td><a href="/Proje/Edit/@item.ProjeId">Düzenle</a> </td>
                <td><a href="/Proje/Delete/@item.ProjeId">Sil</a></td>
            </tr>
        }



    </tbody>
</table>